.homepage section[role=main] {
    margin-left: 120px;
}

#MenuButtonSection {
    height: 20px; 
    margin-bottom: 40px;
}

#MapButtonSection {
    height: 20px; 
    margin-bottom: 40px;
}


@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}
